<!DOCTYPE html>
<html>
    <head>
        <% const title = global.primary_routes_title[page]%>
        <% include ../views/templates/head %>
        <script src="https://maps.googleapis.com/maps/api/js?key=<%= API %>&libraries=places&callback=initializer"
                async defer></script>
        <script src="/javascripts/map.js"></script>
        <script src="/javascripts/search.js"></script>
        <script>
            var cuisine_arr = <%- JSON.stringify(cuisine_arr) %>;
            function initializer() {
                setLocation();
                console.log("Ready");
                <% if (typeof result_arr !== 'undefined') { %>
                    searchFn(<%-result_arr%>, cuisine_arr %>);
                <%}%>
            }
            $('document').ready(() => {
                setCuisineSel();
                setLocation();
                $("#locationSearch").hide();
                $( "#toggleLocationSearch" ).click(() => {
                    $( "#locationSearch" ).slideToggle(() => {

                    });
                });
            } );
        </script>
    </head>
    <body>
        <% include ../views/templates/nav.ejs%>
        <header class="jumbotron text-center">
            <h1><%= title %></h1>
            <input class="selectize-input searchTextBox" form="xForm" type="text" name="keywords" id="keywords" placeholder="Keywords" <%-(typeof keywords !== 'undefined') ? "value='" + keywords + "'" : ''%>"/><br />
            <input form="xForm" type="text" name="cuisine" id="cuisine_selector" placeholder="Cuisine"/>
            <button id="toggleLocationSearch" type="button" class="btn btn-secondary btn-sm" style="margin-top:8px">Choose Location</button>
            <div id="locationSearch">
                <input class="selectize-input searchTextBox" form="xForm" name="pac_input" id="pac-input" type="text"
                       placeholder="Enter a location" />
                <input class="selectize-input searchTextBox" form="xForm" type="number" name="radius" id="radius" step="any" placeholder="Radius (km)" />
                <div class="pac-card" id="pac-card">
                    <div id="map"></div>
                </div>
            </div>
            <hr />
            <form id="xForm" onsubmit="onSubmit('<%- page %>', (dat) => searchFn(dat, cuisine_arr));">
                <input type="hidden" name="lat" id="lat" value="0"/>
                <input type="hidden" name="lng" id="lng" value="0"/>
            </form>
            <button form="xForm" id="g" name="g" type="submit" class="btn btn-primary">Search</button>
        </header>
        <main id="results" style="margin-top:30px">
        </main>
    </body>
</html>
