<!DOCTYPE html>
<html>
    <head>
        <% const title = global.primary_routes_title[page]%>
        <% include ../views/templates/head %>
        <script src="/javascripts/map.js"></script>
        <script src="/javascripts/search.js"></script>
        <script>
            var cuisine_arr = <%- JSON.stringify(cuisine_arr) %>;
            function initializer() {
                console.log('Map Loaded');
                setLocation((position) => {
                    console.log("Current Location");
                    showPosition(position, (lat, lng) => {
                        initMap(lat,lng, autoFillAddresss);
                    });
                }, (error)=>{
                    console.log("Default Location");
                    initMap(53.3816197,-1.4820851, autoFillAddresss);
                });
                console.log('Map Ready')
                <% if (typeof result_arr !== 'undefined') { %>
                searchFn(<%-result_arr%>, cuisine_arr);
                $('#locSearchToggle').click();
                <%}%>
            }
            $('document').ready(() => {
                setCuisineSel();
                $('#locationSearch').on('shown.bs.collapse', function() {
                    console.log("Shown");
                    zoomTight();
                }).on('show.bs.collapse', function() {
                    console.log("Showing");
                });

                $('#locSearchToggle').click(()=>{
                    const state = $('#locationSearch').hasClass('show');
                    $('#locSearchToggle > span').attr('data-glyph', 'chevron-' + (state ? 'bottom' : 'top'));
                });
            });
        </script>
    </head>
    <body>
        <% include ../views/templates/nav.ejs%>
        <header class="jumbotron jumbotron-fluid text-center bg-dark text-white">
            <h1><%= title %></h1>
            <input class="form-control searchTextBox" form="searchForm" type="text" name="keywords" id="keywords" placeholder="Keywords" <%-(typeof keywords !== 'undefined') ? "value='" + keywords + "'" : ''%>"/>
            <input form="searchForm" type="text" name="cuisine" id="cuisine_selector" placeholder="Cuisine"/>
            <button id="locSearchToggle" type="button" class="btn btn-secondary btn-sm" data-toggle="collapse" data-target="#locationSearch">Choose Location<span class="oi ml-1" data-glyph="chevron-bottom"></span></button>
            <div id="locationSearch" class="collapse">
                <input class="form-control searchTextBox" form="searchForm" name="pac_input" id="pac-input" type="text" placeholder="Enter a location" />
                <input class="form-control searchTextBox" form="searchForm" type="number" name="radius" id="radius" step="any" value="1" min="1" max="17" onchange="circleRadius()"/>
                <div class="pac-card" id="pac-card">
                    <div id="map"></div>
                </div>
            </div>
            <hr />
            <form id="searchForm" onsubmit="onSubmit('<%- page %>', '#searchForm', validatorFn, (dat) => searchFn(dat, cuisine_arr));">
                <input type="hidden" name="lat" id="lat" value="0"/>
                <input type="hidden" name="lng" id="lng" value="0"/>
            </form>
            <button form="searchForm" id="g" name="g" type="submit" class="btn btn-primary">Search<span class="oi ml-1" data-glyph="magnifying-glass"></span></button>
        </header>
        <script src="https://maps.googleapis.com/maps/api/js?key=<%= API %>&libraries=places&callback=initializer"
                async defer></script>
        <main id="results" style="margin-top:30px">
        </main>
    </body>
</html>
